:root {
  --accent: rgb(16,216,0);
  --accent-alpha-70: rgba(16,216,0,.7);
  --accent-alpha-20: rgba(16,216,0,.2);

  --background: #1F222A;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
